.board {
    outline: 2px solid black;
}

.row {
    height: 35px;
}

.cell {
    width: 35px;
    height: 35px;
    outline: 1px solid #a9a9a9;
    display: inline-block;
}

.snake-cell {
    background-color: green;
    outline: 1.5px solid black
}

.food-cell {
    background-color: red;
    outline: 1.5px solid black;
}